# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
ct

# Test binary, built with go test -c
*.test

# Output of go coverage
*.out

# Dependency directories
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
